@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

    /* Tambah baris ni */
  --bg-base: #f0f4f8;
  --bg-card: #ffffff;
  --border: #c8d8e8;
  --accent: #0090cc;
  --text-primary: #0a0a2e;
  --text-muted: #5a6a7a;
  --success: #0a9e6a;
  --warning: #d4860a;
  --danger: #d94040;
  --purple: #6a5abf;
  --pink: #c4327a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
